body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 60px;
  background: white;
  color: black;
}

.container {
  max-width: 700px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn:hover {
  background: #333;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #f4f6f8;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 40px;
}
